<!-- and guess where these are defined? Yup, you guessed it: the _config.yml file -->
{% if site.resume_print_social_links %}
<ul>

    {% if site.social_links.github %}
        <!-- GitHub link -->
        <li><strong>Github</strong>: {{ site.social_links.github }}</li>
    {% endif %}

    {% if site.social_links.twitter %}
        <!-- Twitter link -->
        <li><strong>Twitter</strong>: {{ site.social_links.twitter }}</li>
    {% endif %}

    {% if site.social_links.medium %}
        <!-- Medium link -->
        <li><strong>Medium</strong>: {{ site.social_links.medium }}</li>
    {% endif %}

    {% if site.social_links.dribbble %}
        <!-- Dribbble link -->
        <li><strong>Dribbble</strong>: {{ site.social_links.dribbble }}</li>
    {% endif %}

    {% if site.social_links.facebook %}
        <!-- Facebook link -->
        <li><strong>Facebook</strong>: {{ site.social_links.facebook }}</li>
    {% endif %}

    {% if site.social_links.linkedin %}
        <!-- LinkedIn link -->
        <li><strong>LinkedIn</strong>: {{ site.social_links.linkedin }}</li>
    {% endif %}

    {% if site.social_links.instagram %}
        <!-- Instagram link -->
        <li><strong>Instagram</strong>: {{ site.social_links.instagram }}</li>
    {% endif %}

    {% if site.social_links.website %}
        <!-- Website link -->
        <li><strong>Website</strong>: {{ site.social_links.website }}</li>
    {% endif %}

    {% if site.social_links.whatsapp %}
        <!-- Whatsapp link -->
        <li><strong>Whatsapp</strong>: {{ site.social_links.whatsapp }}</li>
    {% endif %}

    {% if site.social_links.devto %}
        <!-- Devto link -->
        <li><strong>Devto</strong>: {{ site.social_links.devto }}</li>
    {% endif %}

    {% if site.social_links.flickr %}
        <!-- Flickr link -->
        <li><strong>Flickr</strong>: {{ site.social_links.flickr }}</li>
    {% endif %}

    {% if site.social_links.pinterest %}
        <!-- Pinterest link -->
        <li><strong>Pinterest</strong>: {{ site.social_links.pinterest }}</li>
    {% endif %}

    {% if site.social_links.telegram %}
        <!-- Telegram link -->
        <li><strong>Telegram</strong>: {{ site.social_links.telegram }}</li>
    {% endif %}

    {% if site.social_links.youtube %}
        <!-- Youtube link -->
        <li><strong>Youtube</strong>: {{ site.social_links.youtube }}</li>
    {% endif %}

</ul>
{% endif %}
