@use "mixins";

html {
  background-color: var(--bg-color, #fff);
}

body {
  background-color: var(--bg-color, #fff);
  color: var(--text-color, #333);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1;
  margin: 10% 0 8%;
  text-align: center;
  width: auto;
}

/* Header */

.avatar {
  border-radius: 100%;
  width: 200px;
  height: auto;
}

.full-name {
  font-weight: 300;
}

.full-name b {
  font-weight: bold;
}

.about {
  color: var(--text-light, #646464);
  font-size: 87.5%;
  padding-bottom: 14px;
  line-height: .6cm;
}

/* Main */

.social-links {
  list-style-type: none;
  padding: 0;
}

a:hover {
  color: var(--accent-color, #3064a9);
}

.social-links li {
  display: inline;
  padding: 0 15px;
}

.cv-button {
  @include mixins.cv-button-base;
  font-weight: 300;
}

