---
---

// "Reset" styles and SCSS reusable components
// Arabic CV entrypoint: load base styles then RTL overrides
@use "../../_sass/normalize";
@use "../../_sass/mixins";
@use "../../_sass/variables";

// Generic site base & layout styles
@use "../../_sass/base";
@use "../../_sass/layout";

// Layouts
@use "../../_sass/resume";
@use "../../_sass/all-pages";

// RTL-specific overrides and Arabic typography
@use "../../_sass/resume-rtl";
